.theme_color_project-warning {

  --default-background: #FF9900;
  --accent-background: #FFFFFF;
  --border-background: #FFFFFF;

  --major-color: #FFFFFF;
  --minor-color: rgba(255, 255, 255, 0.6);
  --additional-color: rgba(255, 255, 255, 0.3); 
  --links-color: #FFF;
}