.theme_color_project-inverse {

  --default-background: #000000;
  --accent-background: #FFFFFF;
  --border-background: #FFFFFF;

  --major-color: #FFFFFF;
  --minor-color: rgba(255, 255, 255, 0.6);
  --additional-color: rgba(255, 255, 255, 0.3); 
  --links-color: #0070f0;
}